#header {
    background-color: #001C55;
    color: white;
}

#footer {
    background-color: #00072D;
    color: white;
}

#body {
    background-color: #0A2472;
    color: white;
}

#elevator {
    background-color: #0E6BA8;
    color: white;
}

#additional {
    background-color: #A6E1FA;
    color: black;
}